*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: black;
    color: white;
    text-align: center;
}
.menu ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    text-align: center;
}
.menu li a{
    display: block;
    width: ;
    color: white;
    text-decoration: none;
    padding: 70px 70px 20px 70px;
    font-size: 115%;
    text-align: center;

   
}
.menu li a:hover{
    background-color: #fe019a;
    color: black;
}
.menu li{
    float: left;
    
    text-align: center;
}
iframe{
    display: inline-block;
    width: 50%;
}