*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: black;
    color: white;
    text-align: center;
}
.menu ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    text-align: center;
}
.menu li a{
    display: block;
    width: ;
    color: white;
    text-decoration: none;
    padding: 70px 70px 20px 70px;
    font-size: 115%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.menu li a:hover{
    background-color: #fe019a;
    color: black;
}
.menu li{
    float: left;
    
    text-align: center;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    display: inline-block;
    color: #FF0087;
    background-color: black;
    border: 8px solid white;
    text-align: center;
    padding: 15px;
    font-size: 500%;
    margin-left: 500px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tm{
    display: inline-block;
    background-color: #FF0087;
    border: 6px solid black;
    color: white;
    font-size: 300%;
    padding: 10px;
    position: absolute;
    left: 60px;
    top: 400px;
}
.shirt{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
   top: 500px;
    left: 100px;
}
.party{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
    top: 650px;
    left: 300px;
}
.prom{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
    top: 800px;
    left: 500px;
}
.vid1{
    position: absolute;
    right: 100px;
    top: 400px;
    border: 8px double black;
}
.s3rl{
    display: inline-block;
    background-color: #FF0087;
    border: 6px solid black;
    color: white;
    font-size: 300%;
    padding: 10px;
    position: absolute;
    right: 180px;
    top: 900px;
}
.rave{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
    top: 1000px;
    right: 100px;
}
.bad{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
    top: 1150px;
    right: 300px;
}
.boy{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
    top: 1300px;
    right: 500px;
}
.vid2{
    position: absolute;
    left: 100px;
    top: 950px;
    border: 8px double white;
}
.oh{
    display: inline-block;
    background-color: #FF0087;
    border: 6px solid black;
    color: white;
    font-size: 300%;
    padding: 10px;
    position: absolute;
    left: 165px;
    top: 1400px;
}
.mind{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
   top: 1500px;
    left: 100px;
}
.star{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
    top: 1650px;
    left: 300px;
}
.trust{
    display: inline-block;
    text-align: center;
    position: absolute;  
    font-size: 23px;
    color: white;
    top: 1800px;
    left: 500px;
}
.vid3{
    position: absolute;
    top: 1450px;
    right: 100px;
    border: 8px double #FF0087;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
